.li_katas1 {
  display: inline-block;
  border-bottom: 10px double;
  box-shadow: 10px 5px 5px black;
  font-size: 3em;
  margin: 0px 10px;
  list-style: none;
 }

 nav{
  
}

ul{
  padding: 10px;
}

li{
  list-style: none;
}

.li_katas2{
  text-decoration: none;
  color: #fff;
  background-color: #308ebd;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: sans-serif;
  display: inline-block;
}

.nav_katas3{
  display: flex;
  flex-direction: column;
  width: 710px;
}

a{
  text-decoration: none;
  color: #308ebd;
  border-bottom: 2px solid #308ebd;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: sans-serif;
  display: ;
}